<ion-header>
  <ion-toolbar>
    <ion-title>BAPS Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
            <ion-input class="input-login" type="email" inputmode="email" placeholder="email@exemplo.com" required>
            </ion-input>
            <ion-input class="input-login" type="password" placeholder="Senha" required></ion-input>
            <br>
            <ion-button shape='round' expand='block' type="submit">Entrar</ion-button>
            <br>
            <ion-text class="forgot-password">Esqueceu a senha?</ion-text>
            <br>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size='3'>
          <ion-button class="create-account" shape='round' expand='block' type="submit">Criar Conta</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>