.profileConfig{
  margin: 10px;
}

ion-content{
  --background: url('../../assets/imagens/account_background.png') no-repeat center center / cover !important;
}

ion-icon {
  color: black;
}

ion-content {
  --ion-background-color: #ffffff;
}

.title-create-account {
  color: white;
}

.profileImg {
  border-radius: 50%;
  width: 20%;
  margin: 2%;
}

ion-card {
  margin: 10px;
  --background: #ffffff;
}

.cardProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ion-card-title {
  font-size: 5vw;
  --color: black;
}

ion-card-subtitle {
  font-size: 3.5vw;
}

.item.item-input {
  --background: transparent !important;
}

ion-input {
  color: black;
  font-size: 4vw;
}

.sc-ion-label-md-h {
  font-size: 5vw;
  font-weight: bold;
  color: black;
}

.profileInfoTitle {
  display: flex;
  padding-bottom: 0px;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

.brushIcon {
  font-size: 3vh;
}
