<ion-header>
  <ion-toolbar>
    <h2>Os 5 Melhores Destinos Para Viajar</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tailândia</ion-card-title>
    </ion-card-header>  
    <ion-card-content>Um destino paradisíaco, seguro e barato, com um povo amigável e boa infraestrutura turística. Precisa de mais alguma coisa? A Tailândia garantiu o merecido primeiro lugar fazendo o básico: tratando bem os visitantes e oferecendo o que tem de melhor. Com praias cristalinas, uma cultura exótica e a deliciosa gastronomia local, o país se reinventa há anos, sempre oferecendo novas experiências. Do agito frenético da capital Bangkok ao clima de paz e sossego de Chiang Mai, passando pela ilha de Phuket e suas belas praias, uma coisa é certa: ninguém é mais o mesmo após uma viagem para a Tailândia </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>República Tcheca </ion-card-title>
    </ion-card-header>  
    <ion-card-content>A República Tcheca é famosa pela incrível arquitetura, que une construções históricas em diversos estilos, de castelos medievais a prédios modernos. A capital Praga é considerada a cidade mais bonita do Leste Europeu, e uma das cidades mais procuradas pelos turistas no continente. Seja para curtir a intensa vida noturna, ou um passeio sossegado à beira-rio, a República Tcheca é um destino que sabe receber bem quem a visita. Ah, e já mencionamos que a cerveja é mais barata do que a água por lá?</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Portugal </ion-card-title>
    </ion-card-header>  
    <ion-card-content>Em 1500, Portugal descobriu o Brasil. Em 2019, o Brasil descobriu Portugal. Os brasileiros já bateram todos os recordes de visitação ao pequeno país, que vem se tornando um dos destinos mais badalados da Europa. Perca-se pelas ruas do Alfama em Lisboa, delicie-se com uma bela posta de bacalhau e uma taça de vinho em algum bom restaurante, depois adoce o paladar com o famoso pastel de Belém. Buscando ofertas de passagens aéreas para Lisboa? Instale agora mesmo nosso app! Explore Portugal do norte ao sul, admirando as construções antigas e paisagens naturais de tirar o fôlego do Porto e as belas praias de falésias do Algarve.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Peru </ion-card-title>
    </ion-card-header>  
    <ion-card-content>Há vários motivos para visitar o Peru, e não é só porque o país está perto da gente! Lima possui uma bela vista para o Oceano Pacífico, com sítios arqueológicos, arquitetura colonial, museus incríveis, jardins floridos, cassinos e alguns dos melhores restaurantes da América Latina… E claro, o impressionante Machu Picchu, a “cidade perdida dos Incas”. Um lugar mágico que exala energia e permite aos visitantes desvendar um pouquinho de um povo tão singular.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>África do Sul </ion-card-title>
    </ion-card-header>  
    <ion-card-content>A África do Sul vem conquistando os viajantes brasileiros com atrações bonitas e de alta qualidade. Com passagens baratas, isenção de visto e bons preços, o destino já conquistou o 5º lugar na preferência de muitos leitores e a tendência é não parar por aí! Além dos safáris, desertos, rotas de vinho e a paisagem urbana de Joanesburgo, a Cidade do Cabo conquista com suas belas paisagens e um astral contagiante. A cidade é reconhecida como uma das mais bonitas do mundo. Prepare-se para conhecer um lugar com muito verde, montanhas, praias e um mar estonteante.</ion-card-content>
  </ion-card>
  


<ion-button (click)="close()">Fechar</ion-button>
</ion-content>
