<ion-content>
  <ion-header>
    <ion-toolbar> 
      <ion-searchbar animated placeholder="Procure Seu Destino"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-searchbar color="danger"></ion-searchbar>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-img src="../../assets/imagens/hyatt_regency_orlando.jpg"></ion-img>
      <ion-card-subtitle>⭐⭐⭐⭐</ion-card-subtitle>
      <ion-card-title>Hyatt Regency Orlando</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A partir de R$1080 até 12x no cartão
      Cancelamento grátis
    </ion-card-content>
    <ion-button routerLink="/order">Veja Mais</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="../../assets/imagens/buenos_aires.jpg"></ion-img>
      <ion-card-subtitle>⭐⭐⭐⭐</ion-card-subtitle>
      <ion-card-title>Pacote Buenos Aires - 2022 e 2023</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Aéreo + Hospedagem + Café da manhã
      4 ou 6 Diárias
      A partir de R$1699 até 12x no cartão
    </ion-card-content>
    <ion-button>Veja Mais</ion-button>
  </ion-card> 

  <ion-card>
    <ion-card-header>
      <ion-img src="../../assets/imagens/buenos_aires.jpg"></ion-img>
      <ion-card-subtitle>⭐⭐⭐⭐⭐</ion-card-subtitle>
      <ion-card-title>Hotel Bellagio Las Vegas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Diárias a partir de R$5541  
    </ion-card-content>
    <ion-button>Veja Mais</ion-button>
  </ion-card> 

</ion-content>
<app-toolbar></app-toolbar>