<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="destinos" (click)="onDestiny()">
        <ion-icon name="airplane-outline"></ion-icon>
        <ion-label>Destinos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="dicas" (click)="onBlog()">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-label>Dicas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="contato" (click)="onAbout()">
        <ion-icon name="at-outline"></ion-icon>
        <ion-label>Contato</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="account" (click)="onClick()"> 
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Conta</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>