<ion-header>
  <ion-toolbar>
    <h2>Os 5 Melhores Destinos Para Viajar</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>México</ion-card-title>
    </ion-card-header>  
    <ion-card-content>O México não poderia ficar fora dessa lista! Embora a maioria das pessoas pensem apenas em ir às praias, resorts e baladas de Cancún, há vários outros lugares incríveis no caribe mexicano como a Lagoa de Bacalar, também conhecida como as Maldivas do México. As praias do Oceano Pacífico, ao leste do país, também vão te surpreender, como Cabo San Lucas por exemplo, que é representado pelo cartão postal Los Arcos. Mas se você quer mesmo é fazer uma imersão na história, cultura e gastronomia do país, vale conhecer a Cidade do México que conta com museus, ruínas e restaurantes para todos os bolsos.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Egito</ion-card-title>
    </ion-card-header>  
    <ion-card-content>Que tal conhecer um país na África Mediterrânea? Além de não ter sofrido grande impacto nos valores de passagens aéreas, o Egito possui um custo de vida baixo. Para você ter uma ideia, na capital Cairo você pode encontrar hostels com diárias em quartos compartilhados por menos de R$10, bons hotéis a partir de R$100 e refeições a partir de R$15. Entre as principais atrações do Egito estão pontos turísticos históricos como a Grande Pirâmide de Gizé, a única das 7 maravilhas do mundo que ainda existe; a Grande Esfinge, estátua de corpo de leão e cabeça humana que fica no mesmo complexo das pirâmides; Mênfis; e o Complexo de Saqqara. E claro, não podemos deixar de mencionar outros passeios que também são incríveis como o cruzeiro no Rio Nilo e o mergulho no Mar Vermelho.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tailândia </ion-card-title>
    </ion-card-header>  
    <ion-card-content>A riqueza cultural, os templos de Bangkok e a beleza das praias tailandesas, misturadas ao caos urbano (tipicamente proporcionado por cidades do Sudeste Asiático), transformam a Tailândia em um destino imperdível. E para melhorar ainda mais, seus preços baixos fazem com que este seja considerado um dos países mais baratos para viajar. Parece ser difícil organizar um roteiro pela Tailândia, pois são tantas atrações e belezas naturais que você não sabe o que escolher. Nossa dica é começar pelos inúmeros templos budistas, palácios e feiras populares de Bangkok, depois seguir para Puket, um dos destinos mais populares do país, em seguida, Krabi, onde fica a conhecida Railay Beach, e para as maravilhosas Ilhas Phi Phi, donas de praias como, Maya Bay (fechada desde 2018 mas que deve reabrir ainda em 2021) e Koh Phi Phi.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Argentina </ion-card-title>
    </ion-card-header>  
    <ion-card-content>A Argentina já tem sua popularidade como um destino internacional barato para viajar. Vez ou outra aparecem promoções imperdíveis de passagens aéreas para a capital Buenos Aires, e com a desvalorização do Peso Argentino, visitar esse país tem se tornado ainda mais possível. Que tal fazer uma aula de tango, provar a parrilla argentina, fazer um walking tour pelo centro de Buenos Aires e conhecer os parques e museus da cidade? Além do clima europeu da capital, vale a pena conhecer outros lugares incríveis na Argentina e curtir a natureza no Parque Nacional Terra do Fogo em Ushuaia, praticar esqui ou snowboard em Bariloche e visitar a geleira de Perito Moreno. Outra opção é ir para Mendoza, uma cidade situada ao lado da Cordilheira dos Andes onde é possível fazer degustação de vinhos e praticar esportes como raftings, fazer trilhas, cicloturismo e muito mais.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Marrocos </ion-card-title>
    </ion-card-header>  
    <ion-card-content>Mesmo merecedor de uma longa viagem, o Marrocos geralmente é visitado em pouco tempo, especialmente por ser um destino de fácil acesso para quem está na Espanha e quer esticar a viagem até o outro lado do Estreito de Gibraltar. Conheça Casablanca, cidade com o aeroporto que mais recebe voos internacionais no país, talvez uma das mais turísticas, e Marraquexe, com sua célebre praça Djemaa El-Fna, onde é possível apreciar artistas e encantadores de cobras, assim como deliciar-se com comidas de rua. Inclua no roteiro também Fez, antiga capital marroquina que guarda construções históricas, mercados populares e inúmeras mesquitas; Rabat, atual capital do Marrocos; e procure por passeios no deserto – viaje com camelos e durma em tendas à noite, em meio ao deserto marroquino.</ion-card-content>
  </ion-card>


<ion-button (click)="close()">Fechar</ion-button>
</ion-content>