<ion-header>
  <ion-toolbar>
    <h2>Melhores Hospedagens em Orlando</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>International Drive</ion-card-title>
    </ion-card-header>  
    <ion-card-content>A International Drive é uma via de Orlando que concentra hotéis de diversas cadeias e muito comércio. Com certeza, é um dos melhores lugares para se hospedar porque tem localização excelente, uma variedade de acomodações incrível e bons preços. Alguns hotéis dessa região oferecem transporte gratuito para os parques. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Celebration </ion-card-title>
    </ion-card-header>  
    <ion-card-content>A área de Celebration não tem tantas opções de hotéis, mas é bem interessante. A área foi projetada pela Disney, para ser como uma "cidade do futuro". O lugar tem casas muito bonitas, lojas e é uma área tranquila. Se quiser ficar em um local diferente e próximo da Disney, eis uma boa opção. Na área de Celebration e Kissimmee estão: Regal Oaks, Clarion Suites Maingate e Melia Orlando Suite Hotel. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lake Buena Vista  </ion-card-title>
    </ion-card-header>  
    <ion-card-content>Hospedando-se nessa região você estará perto da Disney, que fica em Lake Buena Vista, estará em uma região muito bonita e poderá encontrar ótimos preços. É um bom lugar para alugar uma casa, por exemplo. A área é indicada para quem quer dar prioridade aos parques da Disney, ficando próximo deles, sem precisar pagar para estar em um dos resorts do complexo. O local não está distante da parte sul da I-Drive e também oferece fácil acesso aos parques dessa área. O ideal para quem se hospeda nessa área é estar com um carro para ter mais liberdade. Aqui estão hotéis como Staybridge Suites, Radisson Hotel Orlando e Holiday Inn Orlando - Lake Buena Vista. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Hotéis Disney  </ion-card-title>
    </ion-card-header>  
    <ion-card-content>Ficar em um hotel da Disney é ideal para se cercar de magia o tempo todo. Há quartos temáticos de personagens, que podem deixar a experiência da viagem ainda mais especial e divertida, principalmente para famílias com crianças. Para quem não quer dirigir ou quer ter facilidade, os hotéis dentro do complexo são ótimos! E, assim como do lado de fora, a Disney tem hotéis com todos os preços, desde os mais populares (como Disney's Pop Century Resort e Disney's Art of Animation Resort), passando pelo Disney's Port Orleans Resort, até o Grand Floridian Resort. Seus hotéis estão divididos em Value Resorts (os mais baratos), Moderate Resorts (preços medianos), Deluxe Resorts (hotéis mais refinados) e Deluxe Villas (em que as pessoas podem ter uma vila privada). Todos os hotéis da Disney podem ser reservados pelo site e você pode separá-los de acordo com suas categorias. </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Hotéis Universal  </ion-card-title>
    </ion-card-header>  
    <ion-card-content>A Universal tem apenas quatro hotéis e até pouco tempo atrás todos os seus resorts eram de luxo, como o Hard Rock Hotel, mas recentemente foi inaugurado o Cabana's Bay Beach Resort, um resort da Universal com ótima estrutura e bom preço. Algumas vantagens de ficar no complexo da Universal estão disponíveis apenas para os hotéis mais caros, por isso vale a pena conferir exatamente quais são as vantagens que cada um dos hotéis oferecem.</ion-card-content>
  </ion-card>


<ion-button (click)="close()">Fechar</ion-button>
</ion-content>
