<ion-header [translucent]="true">
  <ion-toolbar class="tooolbar-menu">
    <ion-title slot="start">
      BAPS
    </ion-title>
    <ion-button slot="end" shape='round' size='small' class="btn btn-login" routerLink="/LoginPage">
      <ion-title size='small' class="">
        Login
      </ion-title>
    </ion-button>
    <ion-button slot="end" shape='round' color='light' size='small' class="btn btn-create-account" fill='outline' routerLink="/">
      <ion-title size='small' class="title-create-account">
        Criar Conta
      </ion-title>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Blank</ion-title>
      <ion-title size="small">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>