<ion-content [fullscreen]="true">
  <ion-slides autoplayDisableOnInteraction='true' page='false' scrollbar="false" [options]="slideOpts">
    <div >
      <ion-card>
        <span class="span">Insira os dados para criar sua conta:</span>
    </ion-card>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <!-- <ion-col size="9"> -->
          <ion-card>
            <ion-item>
              <ion-label >Nome completo</ion-label>
              <ion-input name="name" [(ngModel)]="user.name" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label >E-mail</ion-label>
              <ion-input name="email" [(ngModel)]="user.email" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>CPF</ion-label>
              <ion-input name="cpf" [(ngModel)]="user.cpf" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label >Endereço</ion-label>
              <ion-input name="address" [(ngModel)]="user.address" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Data de nascimento</ion-label>
              <ion-input name="birth" [(ngModel)]="user.birth" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label >Senha</ion-label>
              <ion-input name="password" [(ngModel)]="user.password" type="password"></ion-input>
            </ion-item>
            <ion-button (click)="onSave()" routerLink="/account" >Registrar</ion-button>
          </ion-card>
  
            <br />
       
        </ion-row>
        
      </ion-grid>
    </div>
  </ion-slides>
</ion-content>
<app-toolbar></app-toolbar>