ion-content{
  --background: url('../../assets/imagens/account_background.png') no-repeat center center / cover !important;
}

ion-card{
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ion-card-header{
    display: flex;
    justify-content: center;
}

ion-button{
    margin-bottom: 3vw;
}

p{
    margin-bottom: 3vw;
}


