<ion-content>

    <ion-card class="ioncard">
      <ion-card-header class="card">
        <ion-card-title class="Fale-conosco"><strong>SOBRE A EMPRESA</strong></ion-card-title>
      </ion-card-header>

      <ion-card-content>
   <h1><strong>BAPS</strong> surgiu em 2018 com a intenção de trazer facilidades para todos aqueles que desejam viajar com confiança e conforto. Com isso, quatro amigos se juntaram
     e reuniram pesquisas sobre o que poderia ser melhorado na empresa, fazendo com que começassem seu projeto de aperfeiçoamento. Em 2021
     BAPS planeja lançar seus aplicativos oficialmente em lojas de Android e IOS, para atingir todo o seu público alvo.
   </h1>

  <br/>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="card">
        <ion-card-title class="Fale-conosco"><strong>SAC BAPS</strong></ion-card-title>
      </ion-card-header>

      <ion-card-content>
   <h1><strong>Horário de funcionamento:</strong> 09:00 as 18:00 de
  Segunda à Sexta-Feira</h1>

  <br/>

  <h2 class="telefones"><strong>4002 8922</strong></h2>
  <h3 class= "capitais">capitais e Grande São Paulo</h3>
  <h2 class="telefones"><strong>0800 200 400</strong></h2>
  <h3 class= "capitais">demais localidades</h3>

  <br/>
  <br/>

  <h4>Rua Oscar Freire, 560
    <br/>
    São Paulo, SP
    <br/>
    01426001
  </h4>

      </ion-card-content>
    </ion-card>
  </ion-content>
  <app-toolbar></app-toolbar>
