

.card{
  text-align: center
}

.Fale-conosco{
  font-size: 20px;
}

.telefones{
  text-align: center
}

h2{
  color: #B8E2F2
}

h1{
  font-size: 13px;
}

h2{
  font-size: 20px;
}

.capitais{
  text-align: center
}

.capitais{
  font-size: 12px;
}

h4{
  text-align: center;
}

h4{
  font-size: 12px;
}

#form{
  text-align: center;
}
