.ioncard{
  margin-top: 5vh;
}

ion-content{
  --background: url('../../assets/imagens/account_background.png') no-repeat center center / cover !important;
}

.card{
  text-align: center
}

.Fale-conosco{
  font-size: 20px;
}

.telefones{
  text-align: center
}

h1{
  font-size: 13px;
}

h2{
  font-size: 20px;
  color: #22a5d8;
}

.capitais{
  text-align: center
}

.capitais{
  font-size: 12px;
}

h4{
  text-align: center;
  font-size: 12px;
}

#form{
  text-align: center;
}
