<ion-header [translucent]="true">
  <ion-toolbar class="tooolbar-menu">
    <ion-title slot="start">
      BAPS
    </ion-title>
    <ion-button slot="end" shape='round' size='small' class="btn btn-login" routerLink="/LoginPage">
      <ion-title size='small' class="">
        Login
      </ion-title>
    </ion-button>
    <ion-button slot="end" shape='round' color='light' size='small' class="btn btn-create-account" fill='outline'
      routerLink="/">
      <ion-title size='small' class="title-create-account">
        Criar Conta
      </ion-title>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="container">
    <h1>Blog BAPS</h1>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-img src="../../assets/imagens/orlando.jpeg"></ion-img>
            <h3>Melhores Hospedagens em Orlando</h3> <br>
            <p>Confira conosco as melhores hospedagens para sua viagem em Orlando! </p><br>
            <p>Aqui você encontra qualidade, preço e muito mais!</p><br>
            <ion-button
            class="see-more"
            shape="round"
            type="submit"
            >Veja Mais</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-img src="../../assets/imagens/cheaptrip.jpeg" ></ion-img>
            <h3>5 Destinos Baratos e Paradisíacos</h3> <br>
            <p>Quer viajar mas não tem dinheiro<p><br>
            <p>Com as dicas da BASP você viaja para lugares fantásticos e sem sofrer no bolso!</p><br>
            <p>Vem com a gente!</p><br>
            <ion-button
            class="see-more"
            shape="round"
            type="submit"
            >Veja Mais</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-img src="../../assets/imagens/passaporte.jpeg"></ion-img>
            <h3>Os 10 Melhores Destinos Para Viajar</h3><br>
            <p>Está planejando uma viagem mas nâo faz ideia pra onde ir?<p><br>
            <p>A BAPS te ajuda com isso! Confira com a gente os melhores lugares pra se viajar acompanhado</p><br>
            <ion-button
            class="see-more"
            shape="round"
            type="submit"
            >Veja Mais</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
