<ion-content >
  <ion-card>
    <ion-card-header>
      <ion-img src="../../assets/imagens/orlando.jpeg"></ion-img>
      <ion-card-subtitle>Março 2021</ion-card-subtitle>
      <ion-card-title>Melhores Hospedagens em Orlando</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Confira conosco as melhores hospedagens para sua viagem em Orlando!
      Aqui você encontra qualidade, preço e muito mais!
    </ion-card-content>
    <ion-button (click)="modalBlog1()">Veja Mais</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-img src="../../assets/imagens/cheaptrip.jpeg" ></ion-img>
      <ion-card-subtitle>Março 2021</ion-card-subtitle>
      <ion-card-title>Destinos Baratos e Paradisíacos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Quer viajar mas não tem dinheiro?
      Com as dicas da BASP você viaja para lugares fantásticos e sem sofrer no bolso!
      Vem com a gente!
    </ion-card-content>
    <ion-button (click)="modalBlog2()">Veja Mais</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-img src="../../assets/imagens/passaporte.jpeg" ></ion-img>
      <ion-card-subtitle>Março 2021</ion-card-subtitle>
      <ion-card-title>Os 5 Melhores Destinos Para Viajar</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Está planejando uma viagem mas nâo faz ideia pra onde ir?
      A BAPS te ajuda com isso! Confira com a gente os melhores lugares pra se viajar acompanhado
    </ion-card-content>
    <ion-button (click)="modalBlog3()">Veja Mais</ion-button>
  </ion-card>
</ion-content>
<app-toolbar></app-toolbar>
