h1{
    text-align: center;
    color: white;
}

ion-toolbar{
    --background: #05426A !important;
}

ion-label{
    margin: 1%;
}

ion-button{
    --background: #05426A !important;
    color: white;
    margin-top: 3%;
}

.label-input{
    font-weight: bold;
    margin-top: 2%;
    margin-left: 1%;
    text-decoration: underline;
}